/.idea/*
/*/main.exe
/*/*/main.exe
chapter5/enum.exe
/chapter5/enum.dSYM/*
/chapter5/datatypes.dSYM/Contents/Resources/DWARF/datatypes
/chapter5/datatypes
/chapter5/enum
/challenges/*/*/*/Info.plist
/chapter5/datatypes.dSYM/Contents/Info.plist
/test.dSYM/Contents/Info.plist
/chapter4/scanf.dSYM/Contents/Resources/DWARF/scanf
/chapter4/scanf
/.vscode/*
/challenges/challenge1/test.dSYM/Contents/Resources/DWARF/test
/challenges/challenge1/test
/test.dSYM/Contents/Resources/DWARF/test
