/.idea/*
/*/*.exe
/*/main.exe
/*/main
/*/*/*.exe
/chapter5/enum.dSYM/*
/chapter5/datatypes
/chapter5/enum
/chapter5/datatypes.dSYM/*
/test.dSYM/*
/chapter4/scanf.dSYM/*
/chapter4/scanf
/.vscode/*
/challenges/challenge1/test.dSYM/*
/challenges/challenge1/test
*/main.dSYM/*
.vscode/*
/challenges/*/main.dSYM/*
/challenges/*/main
.gitignore
